# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

#Catboost
catboost_info/

#MLFLOW
MLFLOW_TRACKING_URI/

# vs code
.vscode/

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/

#keys
keys/