pandas 
mlflow==2.2.2
notebook
numpy
scikit-learn==1.2.2
matplotlib
python-box==6.0.2
optuna
xgboost==2.0.2
lightgbm
catboost
pyYAML
tqdm
ensure==1.0.2
joblib
streamlit==1.32.2
jsonify
python-dotenv
types-PyYAML
-e .